<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default Progress bars <a class="get-code" data-toggle="collapse" href="#pgr2" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-toggle="tooltip"></i></a></h4>
            <div class="collapse m-t-15" id="pgr2"> <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br/>&lt;div class="progress-bar bg-success" role="progressbar" style="width: 75%;height:15px;" role="progressbar""&gt; 75% &lt;/div&gt;<br/>&lt;/div&gt;</code></pre> </div>
            <div class="progress m-t-20">
                <div class="progress-bar bg-success active progress-bar-striped" 
                style="height:15px;" 
                [style.width]="getProgreso1"
                role="progressbar"></div>
            </div>

            <div class="progress m-t-20">
                <div class="progress-bar bg-info active progress-bar-striped" 
                style="height:15px;" 
                [style.width]="getProgreso2"
                role="progressbar"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valorSalda)="progreso1 = $event" [progress] = 'progreso1'></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador [btnClass]="'btn btn-info'" (valorSalda)="progreso2 = $event" [progress] = 'progreso2'></app-incrementador>
            </div>
        </div>
    </div>
</div>