<div class="row">
    <div class="col-lg-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">información del usuario</h3>
        <p class="text-muted m-b-30 font-13"> Ajustes </p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form [formGroup]="perfilForm" (submit)="guardarperfil()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username" formControlName="nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="email">
                    </div>
                   
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> Guardar</button>                   
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Avatar</h3>
            <p class="text-muted m-b-30 font-13"> imagen del usuario </p>
            <img src="">
            <div class="form-group">
            <input type="file" (change)="cargarImg($event)">
            </div>
            <br>
            <br>
            <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10"
            (click)="subirImg()"
            [disabled]="!imagenasubir">
             <i class="fa fa-save"></i> Subir imagen</button>
        </div>
    </div>

</div>
