<div class="row animeted fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuarios.."
                (keyup)="buscar(texto.value)"
                #texto>
            </div>
        </div>
    </div>
</div>
<div class="row animeted fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="md-0"></p>
        </div>
    </div>
</div>

<!--Tablas-->
<div class="" *ngIf="!cargando">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <h6 class="card-subtitle">Usuarios Registrados: {{totalUsuarios}}</h6>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of usuarios">
                            <td><img [src]="item.imagenUrl" alt="imagen usuario" class="avatar"></td>
                            <td>{{item.email}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.rol}}</td>
                            <td>
                                <span *ngIf="item.google" class = "label label-danger">Google</span>
                                <span *ngIf="!item.google" class = "label label-info">Normal</span>
                            </td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
            <div *ngIf="texto.value.length == 0">
                <button (click)="paginarUsuarios(-5)" class="btn btn-secondary">Anterior</button>
                &nbsp;
                <button (click)="paginarUsuarios(5)" class="btn btn-secondary">Siguiente</button>
            </div>
        </div>
    </div>
</div>

